:host {
    display: block; //position: relative;
    height: 100%;
}

.pip-footer {
    margin-top: 8px;
    margin-bottom: 4px !important;
}

.pip-footer-text {
    margin-bottom: 0px;
}

.pip-loading {
    position: absolute;
    width: 100%;
    left: 0;
    top: 1px;
}

.pip-progress {
    width: 100%;
    text-align: center;
    mat-progress-bar {
        max-width: 250px;
        margin: 0 auto;
        margin-top: 16px;
    }
}

.pip-list-empty {
    width: 100%;
    height: 100%;
}

::ng-deep .pip-gt-sm {
    devices-list {
        .pip-show-gt-sm {
            display: block;
        }
        .pip-show-xs-sm {
            display: none;
        }
    }
}

::ng-deep .pip-sm,
::ng-deep .pip-xs {
    devices-list {
        .pip-show-gt-sm {
            display: none;
        }
        .pip-show-xs-sm {
            display: block;
        }
    }
}

:host {
    display: block;
}