.pip-full-width {
    width: 100%;
}

.pip-footer {
    margin-top: 8px;
    margin-bottom: 4px !important;
}

.pip-footer-text {
    margin-bottom: 0px;
}

.pip-loading {
    position: absolute;
    width: 100%;
    left: 0;
    top: 1px;
}

.pip-progress {
    width: 100%;
    text-align: center;
    mat-progress-bar {
        max-width: 250px;
        margin: 0 auto;
        margin-top: 16px;
    }
}

.error-container.mat-error  {
    padding: 8px;
    background: #ff5252; 
    color: white;
    border-radius: 2px;
    margin-bottom: 16px;
}

pip-document-content {
    height: calc( 100% - 32px);
    & > div {
        flex: 0 1 100%;
        display: flex;
        flex-direction: column;
        min-height: 100%;
        mat-tab-group {
            flex-grow: 1;
        }
    }
}

::ng-deep #tab-group .mat-tab-body-wrapper {
    // flex-grow: 1;
    flex: 1 1 100%;
}

::ng-deep mat-tab-body {
    flex-grow: 1;
}

::ng-deep .mat-tab-body-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

::ng-deep .mat-list.object-list .mat-list-item .mat-list-item-content {
    padding: 0px;
}

::ng-deep pip-action-list .long-button.pip-action-list-item {
    max-width: 200px !important;
}

.object-actions {
    padding-left: 40px;
    .pip-title {
        text-transform: uppercase;
    }
}

.mat-tab-container {
    padding-top: 16px;
    padding-bottom: 16px;
    overflow: hidden;
}

.empty-label {
    padding: 24px 0px;
}

.pointer {
    cursor: pointer;
}